#cards-info {
  margin: 10px;
  width: auto;
  min-height: 50px;
  background-color: #4f97c1;
  font-size: 34px;
  padding: 10px;
  #cards-info-cnt {
    font-size: 30px;
    margin: 5px;
    display: inline-block;
    float: right;
  }
}

#cards {
  padding: 10px 3%;
}

.card {
  width: 700px;
  //width: 95%;
  min-height: 300px;
  margin-bottom: 25px;
  background-color: rgb(122, 207, 171);

  -webkit-box-shadow: 3px 5px 3px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 5px 3px 0 rgba(0,0,0,0.5);
  box-shadow: 3px 5px 3px 0 rgba(0,0,0,0.5);


  td {
    padding: 2px 5px;
  }
}

.table-info {
  display: inline-block;
  font-size: 18px;
  position: relative;
  //top: -50px;
  span {
    font-size: 30px;
  }
}

.device-name {
  display: inline-block;
  font-size: 24px;
  padding: 10px;
  background-color: #0a965e;
  -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5) inset;
  width: 100%;

  .icon-device{
    font-size: 30px;
  }
}

.device-key {
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  float: right;
}

.device-info {
  margin-top: 25px;
}

.timer {
  display: inline-block;
  position: relative;
  float: left;
  top: 50px;
}

.devise-table {
}

.btn-settings-device {
  font-size: 36px !important;
  padding: 10px !important;
  width: 50px;
  height: 50px;
  margin-bottom: 2px !important;
  span {
    position: relative;
    right: 3px;
    top: -5px;

  }
}

