#modal-create, #modal-update {
  td{
    padding: 3px 5px !important;
  }
}

.change_time_sm {
  width: 50px;
  font-size: 24px;
  text-align: center;
}

.change_time_lg {
  width: 150px;
  font-size: 24px;
  text-align: center;
}

